<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>timeClock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2F4D1891E9D17EA00E84D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F4D1A21E9D17EA00E84D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F4D1AD1E9D17EA00E84D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
